<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <title>Document</title>
</head>
<body>
    <div id="blocks-container">
        <div>
            <input type="color" class="first-row first-element"></input>
            <input type="color" class="first-row second-element"></input>
            <input type="color" class="first-row third-element"></input>
            <input type="color" class="first-row fourth-element"></input>
            <input type="color" class="first-row fifth-element"></input>
            <input type="color" class="first-row sixth-element"></input>
            <input type="color" class="first-row seventh-element"></input>
            <input type="color" class="first-row eigth-element"></input>
        </div>
        <div>
            <input type="color" class="second-row first-element"></input>
            <input type="color" class="second-row second-element"></input>
            <input type="color" class="second-row third-element"></input>
            <input type="color" class="second-row fourth-element"></input>
            <input type="color" class="second-row fifth-element"></input>
            <input type="color" class="second-row sixth-element"></input>
            <input type="color" class="second-row seventh-element"></input>
            <input type="color" class="second-row eigth-element"></input>
        </div>
        <div>
            <input type="color" class="third-row first-element"></input>
            <input type="color" class="third-row second-element"></input>
            <input type="color" class="third-row third-element"></input>
            <input type="color" class="third-row fourth-element"></input>
            <input type="color" class="third-row fifth-element"></input>
            <input type="color" class="third-row sixth-element"></input>
            <input type="color" class="third-row seventh-element"></input>
            <input type="color" class="third-row eigth-element"></input>
        </div>
        <div>
            <input type="color" class="fourth-row first-element"></input>
            <input type="color" class="fourth-row second-element"></input>
            <input type="color" class="fourth-row third-element"></input>
            <input type="color" class="fourth-row fourth-element"></input>
            <input type="color" class="fourth-row fifth-element"></input>
            <input type="color" class="fourth-row sixth-element"></input>
            <input type="color" class="fourth-row seventh-element"></input>
            <input type="color" class="fourth-row eigth-element"></input>
        </div>
        <div>
            <input type="color" class="fifth-row first-element"></input>
            <input type="color" class="fifth-row second-element"></input>
            <input type="color" class="fifth-row third-element"></input>
            <input type="color" class="fifth-row fourth-element"></input>
            <input type="color" class="fifth-row fifth-element"></input>
            <input type="color" class="fifth-row sixth-element"></input>
            <input type="color" class="fifth-row seventh-element"></input>
            <input type="color" class="fifth-row eigth-element"></input>
        </div>
        <div>
            <input type="color" class="sixth-row first-element"></input>
            <input type="color" class="sixth-row second-element"></input>
            <input type="color" class="sixth-row third-element"></input>
            <input type="color" class="sixth-row fourth-element"></input>
            <input type="color" class="sixth-row fifth-element"></input>
            <input type="color" class="sixth-row sixth-element"></input>
            <input type="color" class="sixth-row seventh-element"></input>
            <input type="color" class="sixth-row eigth-element"></input>
        </div>
        <div>
            <input type="color" class="seventh-row first-element"></input>
            <input type="color" class="seventh-row second-element"></input>
            <input type="color" class="seventh-row third-element"></input>
            <input type="color" class="seventh-row fourth-element"></input>
            <input type="color" class="seventh-row fifth-element"></input>
            <input type="color" class="seventh-row sixth-element"></input>
            <input type="color" class="seventh-row seventh-element"></input>
            <input type="color" class="seventh-row eigth-element"></input>
        </div>
        <div>
            <input type="color" class="eigth-row first-element"></input>
            <input type="color" class="eigth-row second-element"></input>
            <input type="color" class="eigth-row third-element"></input>
            <input type="color" class="eigth-row fourth-element"></input>
            <input type="color" class="eigth-row fifth-element"></input>
            <input type="color" class="eigth-row sixth-element"></input>
            <input type="color" class="eigth-row seventh-element"></input>
            <input type="color" class="eigth-row eigth-element"></input>
        </div>
    </div>
    <button onclick="submitCharacter()">Submit Character</button>
</body>
<script src="javascripts/app.js"></script>
</html>
